.container {
	background-color: lightblue;
}

#mainImage {
	max-width:1000px;
	max-height:600px;
	width:1000px;
	height:600px;
}

.fishImage{
	max-width:120px;
	max-height:100px;
	width:120px;
	height:100px;
}

.margin-top-1{
	margin-top: 2em;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#topcontent {
	background-image: url("../resources/fish.jpg");
	 background-repeat: no-repeat;
	 background-position: bottom;	
}